/* AMP -------------------------------- */
h1, h2, h3, h4, h5, h6, p, a, div, span, strong {
    font-family: "Arial";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
}

.amp-logo amp-img {
    width: 82px;
    height: 60px;
}

.cntr {
    padding: 5px 20px;
}

/*Banner*/
.banner-top-content {
    background: url(/wp-content/uploads/2023/02/thokythuat-dieuhoa.jpeg) no-repeat !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
    position: relative;
}

.banner-top-content:before {
    content: "";
    display: block;
    padding-bottom: 124%;
}

.banner-content {
    background: rgba(0, 0, 0, .25);
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    width: 100%;
    font-size: 16px;
}

.cntn-wrp h1 {
    line-height: 1;
    font-size: 24px;
    text-align: center;
}

.sub-title-banner {
    text-align: center;
    margin-bottom: 20px;
}

.info-banner ul li {
    list-style: none;
    position: relative;
    margin: 0 0 10px 30px;
    font-weight: 400;
    font-size: 14px;
}

.info-banner ul li:before {
    content: "";
    background-image: url(/wp-content/uploads/2023/02/thokythuat-check-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -31px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.elementor-call {
    background: #FF7029;
    width: 100%;
    height: 64px;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementor-call label {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #fff;
    margin-left: 5px;
}

.elementor-title {
    position: relative;
    padding-top: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #9F9F9F;
}

.elementor-title:before {
    content: "";
    width: 40px;
    height: 40px;
    border: 4px solid #FF9737;
    transform: rotate(-45deg);
    position: absolute;
    top: 43px;
    left: calc(50% - 20px);
}

.elementor-heading {
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
}

.amp_mod.text-mod p {
    margin-bottom: 0;
}

.price-services {
    margin-bottom: 30px;
}

.price-services p:first-child {
    font-size: 20px;
    font-weight: 600;
}

.price-services p:last-child {
    color: #FF7029;
}

/*Footer*/
footer .w-bl {
    margin-left: 0;
    margin-right: 0;
}

.footer .w-bl + .w-bl {
    margin-bottom: 0;
}

.footer .w-bl + .w-bl:last-child {
    margin-bottom: 20px;
}

footer.footer span {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.04em;
}

.footer .w-bl p {
    padding-left: 35px;
}

.footer .w-bl:nth-child(2) p:before,
.footer .w-bl:nth-child(3) p:before,
.footer .w-bl:nth-child(4) p:before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    left: 0;
    display: block;
}

.footer .w-bl:nth-child(2) p:before {
    background-image: url(/wp-content/uploads/2023/02/thokythuat-map-pin.svg);
}

.footer .w-bl:nth-child(3) p:before {
    background-image: url(/wp-content/uploads/2023/02/thokythuat-mail.svg);
}

.footer .w-bl:nth-child(4) p:before {
    background-image: url(/wp-content/uploads/2023/02/thokythuat-callicon.svg);
}

.footer h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0;
}

.footer li {
    position: relative;
    padding-left: 20px;
}

.footer li:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #FF7029;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer .rr {
    margin: 0;
}

.loop-wrapper {
    margin: 0;
}

#search input:focus-visible {
    outline: none;
}

#search input::placeholder {
    color: #fff;
}

.loop-img.image-container * {
    object-fit: contain;
    width: auto;
    display: flex;
}

body .lb-t, body .tg:checked + .hamb-mnu > .fsc {
    background: #0F1622;
}

body .tg:checked + .hamb-mnu > .m-ctr .c-btn {
    right: 20px;
    top: 10px;
}

body .m-menu {
    width: calc(100% - 50px);
}

body .m-ctr {
    background: none;
}

.hamb-mnu .m-ctr {
    width: 100%;
}

/* AMP -------------------------------- */